{% extends "base.html" %} {% block title %}Info{% endblock %}
<!-- temprory soulution for submission -->

{% block content %}
<br><br><br>
<div class="container">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">Your purchase at Uber Eats</h5>
          <p class="card-text">Takoyaki(5 pcs) (Delivery) - USD 7.50</p>
          <p class="card-text">Gyoza(5 pcs) (Delivery) - USD 7.50</p>
          <p class="card-text">Rainbow Roll (Delivery) - USD 13.95</p>
          <p class="card-text">Chicken Karage(5 pcs) (Delivery) - USD 15.00</p>
          <p class="card-text">--------------------------------------------</p>
          <p class="card-text">SUBTOTAL - USD 43.95</p>
          <p class="card-text">MISC - USD 4.24</p>
          <p class="card-text">--------------------------------------------</p>
          <p class="card-text">TOTAL - USD 48.19</p>

          <a href="/" class="btn btn-primary">Go back</a>
        </div>
      </div>
</div>

{% endblock %}